<app-layout-one>
    <div class="card-container">
        <mat-card>
            <mat-card-content>
                <h2>Signup</h2>
                <form [formGroup]="userDetailForm">
                    <div class="name-container">
                        <mat-form-field appearance="outline">
                          <mat-label>Name</mat-label>
                          <input  formControlName="name" matInput placeholder="John Smith"  required >
                        </mat-form-field>
                      </div>
        
                      <div class="username-container">
                        <mat-form-field appearance="outline">
                          <mat-label>Username</mat-label>
                          <input formControlName="username" matInput placeholder="CodeGeek" required>
                        </mat-form-field>
                      </div>
        
                      <div class="email-container">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label><br>
                            <input formControlName="email" matInput required>
                        </mat-form-field>
                    </div>
        
                    <div>
                        <mat-form-field class="full-width" appearance="outline">
                          <mat-label>Password</mat-label>
                          <input formControlName="password" matInput  required />
                        </mat-form-field>
                    </div>
        
                    <div formGroupName='address'>
                        <h3>Address</h3>
                        <table>
                            <tr>
                                <td>
                                    <mat-form-field appearance="outline">
                                        <mat-label>House-No</mat-label>
                                        <input formControlName="houseNo" matInput placeholder="2/10"  required>
                                      </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Street</mat-label>
                                        <input formControlName="street" matInput placeholder="indirapuram"  required>
                                      </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-form-field appearance="outline">
                                        <mat-label>District</mat-label>
                                        <input formControlName="district" matInput placeholder="ghaziabad"  required>
                                      </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field appearance="outline">
                                        <mat-label>State</mat-label>
                                        <input formControlName="state" matInput placeholder="Uttar Pradesh" required>
                                      </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Pincode</mat-label>
                                        <input formControlName="pincode" matInput placeholder="123456"  required>
                                      </mat-form-field>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <button (click)="signout()">SignOut</button>
</app-layout-one>

